{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [ "react" ],
  "env": {
    "amd": false,
    "jasmine": false,
    "node": true,
    "mocha": true,
    "browser": true,
    "builtin": true,
    "es6": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "modules": true,
    "spread": true,
    "templateStrings": true,
    "jsx": true
  },
  "rules": {
    "strict": 0,
    "curly": 0,
    "comma-dangle": [2, "never"],
    "prefer-template": 2,
    "consistent-return": [0],
    "key-spacing": [0],
    "quotes": [0],
    "new-cap": [0],
    "no-multi-spaces": [0],
    "no-shadow": [0],
    "no-unused-vars": [1],
    "no-use-before-define": [2, "nofunc"],
    "react/jsx-no-undef": 1,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1
  }
}
